html {
  font-size: 13.3333vw;
}
a,a:visited {text-decoration: none;color:#5352fd}
u {
  border-bottom: 1px solid #878b99;
  text-decoration: none;
  padding-bottom: .05em;
}
@media (min-width: 750px) {
  html {
    font-size: 100px;
  }
}
@font-face {
  font-family: 'MFShangYa';
  src: url('../fonts/MFShangYa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PingFangLight';
  src: url('../fonts/PingFangLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,body {height: 100%;;}
body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Arial', 'PingFang SC', 'Microsoft Yahei';
  color:#03081A;
  font-size: 16px;
}
h1 {
  text-align: center;
  font-family: 'MFShangYa';
  font-weight: normal;
  font-size: .48rem;
}
.title-line {
  display: flex;
  align-items: center;
  margin: .1rem 0 0;
}
.title-line .line {
  flex:1;
}
.title-line .line::before,
.title-line .line::after {
  content: '';
  display: block;
  background-color: #ED3A3A;
}
.title-line .line::before {height: .06rem;}
.title-line .line::after {height: .03rem;margin: .05rem 0 0;}
.title-line .star {
  width: .5rem;
  height: .5rem;
  margin: 0 .2rem;
  background-image: url(../images/star.svg);
  background-size: cover;
}
article {margin: 0 auto;max-width: 750px;}
article p {
  letter-spacing: 2px;font-weight: 300;line-height: 1.5;text-align: justify;
}
article p:last-child {text-align: right;font-size: .875em;line-height: 1.2;}
article sup {
  font-weight: 700;letter-spacing: normal;font-size: .66em;margin-right: 2px;
}
.btn-redirect {
  position: relative;
  display: block;
  font-family: 'Bebas';
  border: 5px solid #9594F7;
  font-size: .96rem;
  line-height: 1.44rem;
  text-align: center;
  color: #000;
}
.btn-redirect::after {
  content: '≜';
  font-size: .6em;
  line-height: 100%;
  color: #9594F7;
  position: absolute;
  right: .1rem;
  top: 50%;
  transform: rotate(90deg) translateX(-50%);
}
.btn-redirect:hover,
.btn-redirect:active {
  background-color: #9594F7;
  color: #fff;
}
.btn-redirect:hover::after,
.btn-redirect:active::after {
  color: #fff;
}
ol {padding-left: 1em;font-size: .875em;color:#878b99;font-weight: 300;}
@media (orientation : portrait) {
  
}
@media only screen and (max-width:750px){
  article {padding:.4rem;}
  h1 {margin:0;}
}
@media only screen and (max-height:800px){
  article {padding-bottom: 2.64rem;}
  .action {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: .4rem;
    margin: 0;
    box-shadow: 0 -10px 10px rgba(0,0,0,.1);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio:3){
  
}
